.thumbnail {
    text-decoration: none !important;
}

.caption {
    text-align: center;
}

.nav-pills > li > a {
    color: black;
}

.nav-pills > li > button:hover {
    background-color: silver;
}

.nav-pills > li > button.active:hover {
    color: white;
    background-color: black;
}

.nav-pills > li > button.active {
    color: white;
    background-color: black; 
}

.container-slider {
    padding-top: 15px;
}
